.hero-header {
  background:
    linear-gradient(
      to right,
      black 0%,
      /* fully dark on the left */ #02061ad8 80% /* fully transparent on the right */
    ),
    url('/backgrounds/home-banner.webp') center/cover no-repeat;

  background-position: center 40%;
  background-repeat: no-repeat;
  background-size: cover;

  svg {
    // background: white;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px; /* height of wave */
  }
}
